# {{ ansible_managed }}
[listener]
uid = nagios
gid = nagcmd

ssl_version = TLSv1
certificate = adhoc
ip = 0.0.0.0
port = 5693

logfile = var/ncpa_listener.log
pidfile = var/ncpa_listener.pid

[api]
community_string = {{ ncpa_community_string }}

[plugin directives]
plugin_path = /usr/lib64/nagios/plugins/
.sh = /bin/sh $plugin_name $plugin_args
